.background {
  height: 100%;
}

.confirm {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.dialogue {
  margin-bottom: 15px;
}
