@import "client";

.header {
  display: flex;
  height: 75px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px 0px;
  border-width: 0px;
  /* Styles added to make header fixed */
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
}

.section {
  display: flex;
  align-items: center;
  flex-grow: 0;
}

.nav-left {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.nav-right {
  flex-grow: 1;
  padding-right: 15px;
  justify-content: flex-end;
  @extend %nav-right !optional;
}

.logo {
  max-width: 137px;
  padding-right: 30px;
  flex-grow: 1;
  border-right: 2px solid transparent;
}

.logo:not(:last-child) {
  display: none;
  margin-right: 30px;
  border-right-color: #fff;
}

.location-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.back-button {
  margin-right: 10px;
}

.location-info {
  flex-grow: 1;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

.nav-links-container {
  display: flex;
  align-items: baseline;
}

.toggle {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 5%;
  right: 5%;
  padding: 5px;
  border-radius: 50px;
  width: 100px;
}

.nav-item {
  text-align: center;
  cursor: pointer;
  margin-right: 15px;
}
.nav-item > * {
  display: block;
  margin: 0 auto;
}

.nav-item a {
  line-height: 0px;
}

.nav-item img {
  max-width: 32px;
  max-height: 32px;
  height: 100%;
}

div .dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding: 15px 15px 15px 15px;
  cursor: "pointer";
}

.dropdown > span:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.dropdown-icon img {
  width: auto;
  height: 100%;
}

/* Tablet 768px */

@media screen and (min-width: 48em) {
  .logo {
    display: block;
  }
  .logo:not(:last-child) {
    display: initial;
  }

  .toggle {
    position: initial;
    padding: 0px;
    border-radius: 0px;
    width: initial;
  }
  .toggle > label {
    margin-top: 10px;
  }
}

@media screen and (min-width: 60em) {
}

@media screen and (min-width: 72em) {
}

@media screen and (min-width: 84em) {
}

@media screen and (min-width: 96em) {
}
