.nav {
  display: flex;
  padding: 0px 15px;
}

.nav > *:first-child {
  flex-grow: 1;
}

.nav > *:last-child {
  flex-grow: 45;
}

.content {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  flex-grow: 1;
  position: relative;
}
