@import "styles/config";
@import "client";

.nav-item {
  flex-grow: 1;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  transition: border-bottom 0.3s;
  @extend %navItem !optional;
}
