.group {
  border: none !important;
  margin: 0px 25px;
}

.group-info {
  margin-top: 15px;
  margin-bottom: 40px;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-top-width: 0px !important;
}

.group-info:first-child {
  margin-top: 40px;
}

.group-name {
  display: block;
  margin-bottom: 10px;
}

.group-description {
  display: block;
  visibility: hidden;
  margin-bottom: 30px;
}

.group-items {
}

.grid > div {
  margin-bottom: 25px;
}

/* Tablet 768px */

@media screen and (min-width: 48em) {
  .group {
    margin: 0px 30px;
  }
  .group-info {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .group-description {
    visibility: visible;
  }
  .group-items {
  }
}

@media screen and (min-width: 60em) {
}

@media screen and (min-width: 72em) {
}

@media screen and (min-width: 84em) {
}

@media screen and (min-width: 96em) {
}
