@import "styles/config";
@import "client";

.option {
  &-content {
    border-right-width: 0rem !important;
    border-left-width: 0rem !important;
    border-top-width: 0rem !important;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
  }

  &-line {
    text-align: left;
    padding: 0.313rem 0;
    margin: 0 auto;
  }

  &-name {
    padding-left: 0.563rem;
    white-space: pre-wrap;
  }
  &-lineText {
    position: relative;
    padding: 1.25rem 0rem;
    display: inline-block;
  }

  &-error {
    z-index: 9;
  }

  @extend %option !optional;
}
