.nav-list {
  text-align: center;
  /* white-space: nowrap; */
  /* overflow-x: auto; */
  /* width: 100vw; */
  list-style: none;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

.nav-list::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: none;
}

.nav-item {
  padding: 10px 10px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
}

.nav-item[active="1"] {
  /* border-bottom-color: initial; */
}

.nav-item a {
  text-decoration: none;
}

.nav-item > a > * {
  font-size: 14px;
}

@media screen and (min-width: 48em) {
}

@media screen and (min-width: 60em) {
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: fit-content;
  }

  .nav-item {
    text-align: center;
    flex-grow: 1;
  }

  .nav-item > a > * {
    font-size: 1rem;
  }
}

@media screen and (min-width: 72em) {
  .nav-item > a > * {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 84em) {
}

@media screen and (min-width: 96em) {
}
